<? version="1.0" encoding="UTF-8"?>
<book file_version = "1.0">
	<title> XML Generator Test</title>
	<author>Eric</author>
	<author>Ryan</author>
	<creation_date>2017-02-15</creation_date>
	<description>A simple test input to see if XML generator is working correctly</description>
	<button_image>images/button.png</button_image>
	<pages>
		<page num="0">
			<page_image>images/page00.png</page_image>
		</page>
		<page num="1">
			<page_image>images/page01.png</page_image>
			<audio>
				<audio_file>audio/page01.mp3</audio_file>
				<crc-32_checksum></crc-32_checksum>
			</audio>
		</page>
		<page num="2">
			<page_image>image/page02.png</page_image>
			<video>
				<video_file>video/page02.mp4</video_file>
				<crc-32_checksum></crc-32_checksum>
				<size>
					<width>400</width>
					<height>300</height>
				</size>
				<coord>
					<x>1020</x>
					<y>960</y>
				</coord>
			</video>
		</page>
		<page num="3">
			<page_image>images/page03.png</page_image>
			<audio>
				<audio_file>audio/page03.mp3</audio_file>
				<crc-32_checksum></crc-32_checksum>
			</audio>
			<video>
				<video_file>video/page03.mp4</video_file>
				<crc-32_checksum></crc-32_checksum>
				<size>
					<width>500</width>
					<height>350</height>
				</size>
				<coord>
					<x>840</x>
					<y>420</y>
				</coord>
			</video>
		</page>
	</pages>
</book>
